@model MyProje.Models.VMCreate;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
            background-image: url(/assets/img/ArkaPlanFotoGSB.jpeg);

        }

        .main-form {
            position: relative;
            width: 1000px;
            padding: 20px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
            border-radius: 35px;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            display: flex;
        }

        h2 {
            font-size: 2.1em;
            color: white;
            text-align: center;
            margin-top: ;
        }

        .input1 {
            position: relative;
            margin: 30px 0;
            width: 500px;
            border-bottom: 2px solid white;
        }

        .input1 label {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            color: white;
            font-size: 1em;
            pointer-events: none;
            transition: 0.3s ease all;
        }

        .input1 input {
            width: 100%;
            background: none;
            border: none;
            outline: none;
            padding: 10px 0;
            font-size: 1em;
            color: white;
        }

        .input1 input:focus~label,
        .input1 input:valid~label {
            top: 0;
            transform: translateY(-100%);
            font-size: 1em;
            color: #f0f0f0;
        }

        .input1 ion-icon {
            position: absolute;
            color: white;
            font-size: 1.3em;
            top: -1px;
            right: 8px;
        }

        .forgot {
            margin: -16px 0 16px;
            font-size: 0.9em;
            color: white;
            display: flex;
            justify-content: center;
        }

        .forgot label a {
            margin-right: 3px;
            text-decoration: none;
            font-size: 0.9em;
            color: white;
        }

        button {
            width: 100%;
            height: 45px;
            background-color: white;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 700;
            border: 25px;
            border-radius: 5px;
        }

        .register {
            font-size: 0.9em;
            color: white;
            text-align: center;
            margin: 25px 0;
        }

        .register p a {
            text-decoration: none;
            color: white;
            font-weight: 800;
        }

        .register p a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <section>
        <div class="main-form">
            <div class=" form-content">
                <form asp-controller="Access" asp-action="Create" method="post">
                    <h2>Kayıt Ol</h2>
                    <div style="display: flex; flex-wrap: wrap; gap: 12px;">
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="adi" asp-for="Adi" required>
                            <label for="adi">Adınız</label>
                            <ion-icon name="accessibility"></ion-icon>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="soyadi" asp-for="Soyadi" required>
                            <label for="soyadi">Soyadınız</label>
                            <ion-icon name="lock-closed"></ion-icon>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="kimlikNo" asp-for="KimlikNo" required>
                            <label for="kimlikNo">TC Kimlik Numarası</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="telefonNo" asp-for="TelefonNo" required>
                            <label for="telefonNo">Telefon Numarası</label>
                        </div>
                    </div>
                    <div style="display: flex; flex-wrap: wrap; gap: 12px;">
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="dogumGunu" asp-for="DogumGunu" required>
                            <label for="dogumGunu">Doğum Günü</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="yas" asp-for="Yas" required>
                            <label for="yas">Yaşınız</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="okul" asp-for="Okul" required>
                            <label for="okul">Okulunuz</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="bolum" asp-for="Bolum" required>
                            <label for="bolum">Bölümünüz</label>
                        </div>
                    </div>
                    <div style="display: flex; flex-wrap: wrap; gap: 12px;">
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="text" name="sehir" asp-for="Sehir" required>
                            <label for="sehir">Şehir</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="email" name="email" asp-for="Email" required>
                            <label for="email">E-Mail</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="password" name="sifre" asp-for="Sifre" required>
                            <label for="sifre">Şifre</label>
                        </div>
                        <div class="input1" style="width: calc(25% - 10px);">
                            <input type="password" required>
                            <label for="againpassword">Tekrar Şifre</label>
                        </div>

                    </div>
                    <div style="display: flex; flex-wrap: wrap; gap: 15px;">
                        <div class="input1" style="width: calc(33% - 10px);">
                            <input type="text" name="hakkinda" asp-for="Hakkinda" required>
                            <label for="hakkinda">Hakkınızda</label>
                        </div>
                        <div class="input1" style="width: calc(33% - 10px);">
                            <input type="text" name="profilFoto" asp-for="ProfilFoto" required>
                            <label for="profilFoto">Profil Fotoğraf Path'i</label>
                        </div>
                        <div class="input1" style="width: calc(33% - 10px);">
                            <input type="text" name="ozgecmis" asp-for="Ozgecmis" required>
                            <label for="ozgecmis">Özgeçmiş Özetiniz</label>
                        </div>
                    </div>
                    <div>

                        <button href="/Access/Login.cshtml">Kayıt Ol</button>
                    </div>
                    @if (ViewData["ValidateMessage"] != null)
                    {
                        <br />
                        <br />
                        <label>@ViewData["ValidateMessage"]</label>
                    }
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>